PORT = 
NODE_ENV = 
FRONTEND_HOST =

# JWT AUTHENTICATION TOKEN SECRETS
ACCESS_TOKEN_SECRET = 
REFRESH_TOKEN_SECRET = 

# WEBSOCKET CONNECTION TOKEN SECRET
WS_TOKEN_SECRET = 

# MONGODB CREDENTIALS
MONGODB_URI =

# REDIS CREDENTIALS
REDIS_URI = 
REDIS_HOST = 
REDIS_PORT = 
REDIS_USER = 
REDIS_PASSWORD = 

# OAUTH PROVIDERS CREDENTIALS
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GITHUB_CLIENT_ID = 
GITHUB_CLIENT_SECRET = 