@import "tailwindcss";
@import 'tailwind-animations';

/* Chrome, Safari, Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html,
body {
    scrollbar-width: none;
}

/* IE */
body {
    -ms-overflow-style: none;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

input:-webkit-autofill {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: black; /* keep text color consistent */
}

input:-webkit-autofill:focus {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.animated-gradient-2 {
    background: linear-gradient(210deg, #b373e4 5%, #d874b7 55%);
    background-size: 230% 230%; animation: animated-gradient-flow 4s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes animated-gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Logo gradient */

.gradient-text {
  background: linear-gradient(
    60deg,
    #b409ab 15%,   /* darker red */
    #ededed 40%,  /* strong orange */
    #f1e023 60%,  /* deep blue */
    #148d1a 100%  /* rich teal */
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  font-family: 'Pacifico', cursive; /* cursive font */
}

/* shimmer UI */
.shimmer {
  position: relative;
  overflow: hidden;
  background: #ffffff50;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    left: 150%;
  }
}